@using System.Data.SqlClient
@using Final.Models
@model Final.Models.OptionSelected
<div class="two-column-no-justify">
    <div class="navigation">
        @Html.Partial("_Navigation")
    </div>

    <div class="author-container">
        <h2>Browse by Publisher</h2>
        @Html.Partial("_PublisherList")
    </div>
</div>