<div class="cards-container">
    <div class="card" id="inventory">
        @Html.ActionLink("Browse Inventory", "Inventory", "Home")
    </div>
    <div class="card" id="author">
        @Html.ActionLink("Browse by Author", "Author", "Home")
    </div>
    <br/>   
</div>

<div class="cards-container">
    <div class="card" id="publisher">
        @Html.ActionLink("Browse by Publisher", "Publisher", "Publisher")
    </div>
    <div class="card" id="location">
        @Html.ActionLink("Browse by Location", "Inventory", "Home")
    </div>
</div>