<div class="two-column">
    <div class="navigation">
        @Html.Partial("_Navigation")
    </div>   
    <div class="books-cards-container">
        @foreach (var code in ViewBag.ids)
        {   
            <div class="book-card">
                <a href='@Url.Action("Book", "Home", new {bookCode = code})'>
                    <img src="~/Content/Images/@code/thumb.jpg"/>
                </a>
            </div>
        }
    </div>
</div>